@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService _authorizationService
@{
    bool canChangeOrAddItems = (await _authorizationService.AuthorizeAsync(User, "CanChangeOrAddItems")).Succeeded;
    bool canRemoveItems = (await _authorizationService.AuthorizeAsync(User, "CanRemoveItems")).Succeeded;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main-page.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png"/>
    @if (Context.Request.Cookies["Theme"] == "Dark")
    {
        <link rel="stylesheet" href="~/css/main-page-dark-style.css" asp-append-version="true"/>
    }
    else
    {
        <link rel="stylesheet" href="~/css/main-page-light-style.css" asp-append-version="true"/>
    }
</head>
<body>
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <a asp-action="Index" asp-controller="Store" class="me-auto">
                <h1 class="brand">BooksMarket</h1>
            </a>
            <form class="d-flex me-2" method="get" asp-controller="Store" asp-action="FindBooks">
                <input name="searchOption" class="form-control me-2" id="search-field" type="text" placeholder="Найти книгу">
                <button class="btn btn-outline-success ml-2" type="submit">Поиск</button>
            </form>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-action="Cart" asp-controller="Account">
                    <img src="~/images/cart.svg" class="cart-image me-3" alt="cart"/>
                </a>
                if (Context.Request.Cookies["Theme"] == "Dark")
                {
                    <a asp-action="ChangeTheme" asp-controller="Account" asp-route-themeName="Light" asp-route-returnUrl="@Context.Request.Path" asp-route-parameters="@Context.Request.QueryString" class="theme-link me-2">
                        <img class="theme-image" src="~/images/light-sun.svg" alt="light-theme"/>
                    </a>
                }
                else
                {
                    <a asp-action="ChangeTheme" asp-controller="Account" asp-route-themeName="Dark" asp-route-returnUrl="@Context.Request.Path" asp-route-parameters="@Context.Request.QueryString" class="theme-link me-2">
                        <img class="theme-image" src="~/images/dark-sun.svg" alt="dark-theme"/>
                    </a>
                }
                <a asp-action="Profile" asp-controller="Account" class="btn btn-primary me-2">Личный кабинет</a>
                <a asp-action="Logout" asp-controller="Account" class="btn btn-primary me-2">Выйти</a>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account" class="btn btn-primary me-2">Войти</a>
            }
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer class="container-fluid py-5">


    <div class="row">
        <div class="col text-center">
            <p>© BooksStore</p>
            <p>2020 - 2020</p>
            <p>Сделал студент группы ИКБО-06-19</p>
            <p>Иноземцев П. А.</p>
        </div>
        @if (canChangeOrAddItems || canRemoveItems)
        {
            <div class="col">
                <h5 class="text-center">Управление</h5>
                <a class="nav-link" asp-action="AllBooks">Список всех книг</a>
                <a class="nav-link" asp-action="AllAuthors">Список всех авторов</a>
                <a class="nav-link" asp-action="AllCategories">Список всех жанров</a>
            </div>
        }
        <div class="col">
            <h5 class="text-center">Мы в социальных сетях</h5>
            <a href="#" class="nav-link">
                <div class="input-group">
                    <img height="30" width="30" src="~/images/vk.svg" class="me-2" alt="vk">
                    <label class="ml-2 mt-0">Вконтакте</label>

                </div>
            </a>
            <a href="#" class="nav-link">
                <div class="input-group">
                    <img height="30" width="30" src="~/images/youtube.svg" class="me-2" alt="youtube">
                    <label class="ml-2">Youtube</label>
                </div>
            </a>
            <a href="#" class="nav-link">
                <div class="input-group">
                    <img height="30" width="30" src="~/images/telegram.svg" class="me-2" alt="telegram">
                    <label class="ml-2 mt-1">Telegram</label>
                </div>
            </a>
        </div>
        <div class="col">
            <h5 class="text-center">Каталог</h5>
            <a class="nav-link">О нас</a>
            <a class="nav-link">Доставка и оплата</a>
            <a class="nav-link">Контакты</a>
        </div>
    </div>
</footer>
</body>
</html>