@model IEnumerable<BooksStore.Models.Book>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewBag.Title = "Список всех книг";
    bool canChangeOrAddItems = (await AuthorizationService.AuthorizeAsync(User, "CanChangeOrAddItems")).Succeeded;
    bool canRemoveItems = (await AuthorizationService.AuthorizeAsync(User, "CanRemoveItems")).Succeeded;
}

<div class="btn-group ml-3 mt-3" role="group" aria-label="Basic example">
    <a class="btn btn-warning active" asp-action="AllBooks">Книги</a>
    <a class="btn btn-secondary" asp-action="AllAuthors">Авторы</a>
    <a class="btn btn-secondary" asp-action="AllCategories">Жанры</a>
</div>
<div class="text-center">
    <h1>Список всех книг</h1>
</div>
@if (TempData["DeletedElementMessage"] != null)
{
    <div class="alert alert-success">@TempData["DeletedElementMessage"] </div>
}
@if (Model.Any() == false)
{
    <div class="text-center mt-5">
        <h3>Книги закончились</h3>
    </div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанр</th>
                @if (Model.Any(x => x.Description != null))
                {
                    <th>Описание</th>
                }
                @if (canChangeOrAddItems || canRemoveItems)
                {
                    <th>Управление</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.Author.Name</td>
                    <td>@book.Category.Name</td>
                    @if (Model.Any(x => x.Description != null))
                    {
                        <td>@book.Description</td>
                    }
                    @if (canChangeOrAddItems || canRemoveItems)
                    {
                        <td>
                            <div class="row justify-content-center">
                                @if (canChangeOrAddItems)
                                {
                                    <a class="btn btn-primary ml-3" asp-action="ChangeBook" asp-route-bookId="@book.Id">Изменить</a>
                                }
                                @if (canRemoveItems)
                                {
                                    <a class="btn btn-danger ml-3" type="submit" asp-action="RemoveBook" asp-route-bookId="@book.Id">Удалить</a>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
@if (canChangeOrAddItems)
{
    <div class="text-center mt-5">
        <a class="btn-primary btn-lg" asp-action="AddBook">Добавить книгу</a>
    </div>
}