@model BooksStore.Models.Book
<div class="row m-5">
    <div class="col">

        @if (Model.BookImages?.Count > 0)
        {
            <div class="row">
                @foreach (var image in Model.BookImages)
                {
                    <img src="@Url.Action("GetImage", "Store", new {imageId = image.Id})" class="col w-25 h-25" alt="image">
                }
            </div>
        }
        else
        {
            <img src="~/images/NotFound.jpg" alt="not-found"/>
        }

    </div>
    <div class="col">
        <h>@Model.Name</h>
        @if (string.IsNullOrWhiteSpace(Model.Description) == false)
        {
            <p>@Model.Description</p>
        }
        <p>Жанр: @Model.Category.Name</p>
        <p>Автор: @Model.Author.Name</p>
        <p>Цена: @Model.Price.ToString("c")</p>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <a class="btn btn-primary mt-3" asp-action="AddToCart" asp-route-bookId="@Model.Id" asp-route-returnUrl="@Context.Request.Path" asp-route-query="@Context.Request.QueryString">Добавить в корзину</a>
        }
        else
        {
            <p class="text-info">Для добавления товара в корзину войдите в аккаунт или создайте его</p>
        }
    </div>
</div>
@if (ViewBag.CartMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>@ViewBag.CartMessage</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}