@model IEnumerable<BooksStore.Models.Book>
@{
    ViewBag.Title = "BooksStore";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
            <img src="~/images/1.jpg" class="d-block w-100 carousel-img" asp-append-version="true">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/images/2.jpg" class="d-block w-100 carousel-img" asp-append-version="true">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/images/3.jpg" class="d-block w-100 carousel-img" asp-append-version="true">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/images/4.jpg" class="d-block w-100 carousel-img" asp-append-version="true">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="row row-cols-3 g-4 me-4 ms-4">
    @foreach (var book in Model)
    {
    <div class="col">
        <a asp-action="Book" asp-route-bookId="@book.Id" class="nav-link card-nav">

            <div class="card h-100 w-75 ms-5">
                <img src="@Url.Action("GetImage", "Store", new { imageId = book.BookImages.FirstOrDefault()?.Id ?? -1 })" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>

                </div>
                <ul class="list-group list-group-flush text-end">
                    <li class="list-group-item">@book.Author?.Name</li>
                    <li class="list-group-item">@book.Category?.Name</li>
                </ul>
                <div class="card-footer">
                    <p class="card-text">@book.Price.ToString("c")</p>
                </div>
            </div>
        </a>
    </div>
    }
</div>
